body{

    background-color: rgb(41, 41, 41);
}

h1{
    color: white;
    font-size: 4rem;
}
div{
    padding-top: 10%;
    text-align: center;
    font-family: sans-serif;
}

button{
    margin: 1.2px;
    height: 3.2em;
    width: 7.5em;
    border-radius: 5px;
  
    background-color: rgb(250, 247, 252);
}

button:hover{
    cursor: pointer;
    color: white;
    background-color:rgb(118, 19, 211) ;
    transition: 0.ms;
} 

.iniciar{
    background-color: rgb(23, 165, 23);
    }
    
    .pausar{
    background-color: aliceblue;
    }
    
    .Zerar{
        background-color: red;
    }


